<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Password confirmation</title>
</head>
<body>

<div data-layout-fragment="content">

    <div class="page-header">
        <h1>Password required</h1>
    </div>

    <p>We have a message for you. The message is protected by a password. Enter the password to unveil the secret.</p>

    <form th:action="@{/receive/password/{id}(id=${id})}" th:object="${command}" method="post" autocomplete="off">

        <div class="panel panel-danger" th:if="${#fields.hasAnyErrors()}">
            <div class="panel-heading">Error processing your request</div>
            <div class="panel-body" th:if="${#fields.hasGlobalErrors()}">
                <ul>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</li>
                </ul>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
            <label for="pwd" class="control-label">Password</label>
            <input type="password" class="form-control" id="pwd" th:field="*{password}" autocomplete="off">
            <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect</span>
        </div>

        <input type="submit" class="btn btn-primary" value="Decrypt">
    </form>

</div>

</body>
</html>
