<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/security-high-152-211839.png}">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="@{/security-high-144-211839.png}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" th:href="@{/security-high-152-211839.png}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/security-high-144-211839.png}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" th:href="@{/security-high-120-211839.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/security-high-114-211839.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/security-high-72-211839.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/security-high-57-211839.png}">
    <link rel="icon" th:href="@{/security-high-32-211839.png}" sizes="32x32">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/clipboard.js/1.6.1/clipboard.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</head>
<body>

<div class="container">

    <div th:unless="${#request.secure}" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        It seems, that your connection is not secure (http instead of https)!
        Change your configuration, otherwise the transfer wouldn't be secure!
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" data-layout-fragment="content">
            Content
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <p>Secure Transfer (setra) <span th:text="${@environment.getProperty('application.version')}" th:remove="tag"></span> by Oliver Siegmar.
            Visit setra on <a href="https://github.com/osiegmar/setra" target="_blank">GitHub</a>.</p>
        <p>Project licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>
    </div>
</footer>

</body>
</html>
